.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Exclude everything in webview-ui, but keep the build folder
webview-ui/**
!webview-ui/wordmap_wrapper/build/**