
/* The following two are to get the buttons at the bottom
    of the dialog to be on the same line */
#AlignmentDialogWrapper > div > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#AlignmentDialogWrapper > div > div > div > button {
    margin-right: 10px; 
    flex: 1;
}


/*This is to get the text in the alignment grid to be black */
#AlignmentDialogWrapper #AlignmentGrid > div > div > div > div:nth-child(2) {
    color: black;
}
/* and the wordList needs black text */
#AlignmentDialogWrapper #wordList {
    color: black;
}

/* Make a white background which is full screen using the div
named AlignmentDialogWrapper */
#AlignmentDialogWrapper {
    background-color: white;
    width: 100%;
}


/* Cancel the margin around the buttons and content on the right side. */
#AlignmentDialogWrapper > div > div:nth-child(2) {
    margin: 0px !important;
}

/*The padding around the button area is causing it to scroll out of its area.*/
#AlignmentDialogWrapper > div > div:nth-child(2) > div:nth-child(2) {
    padding: 0px !important;
}


/*Separate the buttons some*/
#buttonDiv > * {
    margin-right: 10px;
}

/* let the reference be written in black */
#refSpan{
    color: black;
}

/*The following changes were added so that the area of the aligner could change
with the area given to it.  Included with these changes are setting body, html and root to 100% height.
and making root a flex box*/
#wordList{
    max-height: none !important; 
}
#AlignmentDialogWrapper {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#AlignmentDialogWrapper > div {
    overflow: hidden;
    flex: 1;
}
#AlignmentGrid{
    max-height: none !important;
}
